[submodule "themes/pico"]
	path = themes/pico
	url = https://github.com/negrel/hugo-theme-pico.git
[submodule "themes/hugo-initio"]
	path = themes/hugo-initio
	url = https://github.com/miguelsimoni/hugo-initio.git
[submodule "themes/anatole"]
	path = themes/anatole
	url = https://github.com/lxndrblz/anatole.git
